<div class="product-container">
  <h1></h1>

  <a routerLink="/product-detail/{{ product.id }}">
    <img class="product-image" alt="product image " src="{{ product.url }}" />
  </a>

  <h4>{{ product.name }}</h4>
  <h5>{{ product.description }}</h5>
  <h4>{{ product.price }} SR</h4>

  <select class="select-input">
    <option
      *ngFor="let opt of options"
      [value]="opt.value"
      onchange="onAmountSelect(opt.value)"
    >
      {{ opt.value }}
    </option>
  </select>

  <button class="add-btn" (click)="addToCart(product, amount)">Add</button>
</div>
